@font-face {
    font-family: Harabara;
    src: url(../../harabara.woff) format('woff')
}

body {
    font-size: 13px;
    color: #555
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Harabara, Fallback, sans-serif;
    letter-spacing: 1.5pt
}

.btn,
.btn-white,
a {
    font-family: Poppins, sans-serif;
    font-size: 13px!important;
    font-weight: 700;
    letter-spacing: .2pt
}

.contact-us-index {
    color: #fff!important
}

.bg-blue {
    background: #2788f4
}

.bg-dark-blue {
    background: #196ac4
}

.dark-blue-bg {
    background: #196ac4
}

.bg-blue h2,
.bg-blue h3,
.bg-blue h4,
.bg-blue span {
    color: #fff
}

.bg-blue p {
    color: #6eb2E6ff
}

.blue-bg {
    background: #00e5f3!important
}

.blue-bg {
    background: #00e5f3!important
}

.align-center {
    text-align: center
}

.client-paragraph {
    margin-bottom: 50px
}

.contact-details-content {
    height: -webkit-fill-available;
    padding-top: 110px
}

.service-card-height {
    height: 240px;
}

.single-service-logo,
.single-service-logo:hover {
    background-color: transparent;
    border: 1px #fff solid
}

.white-btn {
    background: #fff
}

.download-brochure {
    color: #fff
}

.download-brochure .text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px
}

.feature-card .single-feature {
    border: 4px solid #2a72f7;
    margin-bottom: 35px;
    padding-left: 40px;
    height: 200px
}

.center-align {
    text-align: center;
    width: 100%
}

.btn,
.btn-white,
.main-menu ul li a {
    text-transform: uppercase
}

.section-title .text-center {
    margin-bottom: 40px!important
}

.full-image {
    max-height: 318px;
    overflow: hidden
}

.contact-centers {
    background-image: url(../img/voip-contact-centers-header-04.jpg)!important;
    background-size: cover!important;
    background-position: center bottom!important
}

.hosted-phone-header {
    background-image: url(../img/voip-hosted-phone-header-05.jpg)!important;
    background-size: cover!important;
    background-position: center bottom!important
}

.messaging-service-header {
    background-image: url(../img/voip-messaging-header-03.jpg)!important;
    background-size: cover!important;
    background-position: center top!important
}

.phone-numbers-service-header {
    background-image: url(../img/voip-phone-numbers-header-01.jpg)!important;
    background-size: cover!important;
    background-position: center center!important
}

.voice-service-haeder {
    background-image: url(../img/voip-voip-header-02.jpg)!important;
    background-size: cover!important;
    background-position: center bottom!important
}

.contact-centers-image {
    background-image: url(../img/contact-centers-01x.jpg)!important;
    background-size: cover!important;
    background-position: center center!important
}

.plan-navtab .nav-tabs,
.plan-navtab .nav-tabs a {
    border-color: transparent!important
}

.header .logo img {
    transform: scale(1.4);
    -webkit-transform: scale(1.4)
}

.customer-login {
    padding: 15px!important;
    color: #fff!important
}

.single-service {
    padding: 50px 30px 30px 60px
}

.single-service p {
    margin: 50px 0 30px 0
}

.single-service img {
    left: 0;
    top: 0;
    transform: scale(3.3)
}

.single-service-2 img {
    transform: scale(1.1)!important
}

.single-service-home h4 {
    margin-left: 55px
}

.service-image {
    float: left
}

.service-image-home img {
    float: left!important;
    width: 17px!important;
    top: 15px
}

.outstanding-img {
    top: 30px!important
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.pt-25 {
    padding-top: 25px
}

.ptb-40-not-padding {
    padding-bottom: 40px
}

.media-image {
    padding-right: 20px;
    float: left
}

.footer-widget a {
    font-weight: 400
}

.header-fixed-white-on a {
    color: #000!important
}

.header-fixed-white-on .header-btn {
    color: #fff!important
}

.header-fixed-white-on {
    background: #fff
}

.header-fixed-white-off a {
    color: #fff
}

.header-fixed-white-off .main-menu a {
    color: #fff
}

.header-fixed-white-off .sub-menu .active a {
    color: #fff
}

.header-fixed-white-off .sub-menu a {
    color: #000
}

.header-fixed-white-off .sub-menu a:hover {
    color: #fff!important
}

.header-fixed-white-on .sub-menu a:hover {
    color: #fff!important
}

.border-color {
    border: 1px solid #fff!important
}

.border-color:hover {
    border: none!important
}

.select-dropdown {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none
}

ul.sub-menu li.active>a {
    color: #fff
}

.bg-blue .section-title .gray-color {
    color: #fff
}

.single-principle-home {
    width: 25%!important
}

.pt-50 {
    padding-top: 50px
}

.pt-70 {
    padding-top: 70px
}

#contact-centers .single-service p {
    margin: 0
}

#hosted-phone-systems .feature-v2 .single-feature,
#messaging-service .feature-v2 .single-feature {
    padding-left: 0
}

.blue-background {
    background: #2972f7;
    color: #fff
}

.icon-img {
    height: 40px;
    margin-right: 15px
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.video-wrap {
    overflow: hidden
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #151515;
    position: absolute;
    opacity: .5
}

.landing-text {
    z-index: 2!important
}

.display-none {
    display:none !important;
    
}