@font-face {
    font-family: 'harabararegular';
    src: url('../fonts/harabara/harabara-webfont.woff2') format('woff2'),
         url('../fonts/harabara/harabara-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.blog-title-sec{
    padding: 130px 0;
    background-color: #fff;
}
.blog-title-container{
    position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -30px;
            width: 200px;
            height: 200px;
            background: {
                image: url('../img/blog-new/round-left.png');
                position: center;
                repeat: no-repeat
            };
        }
        &::after{
            content: '';
            position: absolute;
            right: 0;
            bottom: -80px;
            width: 200px;
            height: 200px;
            background: {
                image: url('../img/blog-new/round-right.png');
                position: center;
                repeat: no-repeat
            };
        }
    .blog-title-block{
        margin: 0 auto;
        max-width: 500px;
        text-align: center;        
        h1{
            color: #333333;
            font-size: 61px;
            line-height: 70px;
            font-family: 'harabararegular';
            font-weight: bold;
            margin-bottom: 20px;
            .qoutes-txt{
                display: inline-block;
                position: relative;
                .quotes{
                    display: inline-block;
                }
                .first{
                    margin-right: 15px;
                }
                .last{
                    margin-left: 10px;
                    display: inline-block;
                    -moz-transform: scale(-1, 1);
                    -webkit-transform: scale(-1, 1);
                    -o-transform: scale(-1, 1);
                    -ms-transform: scale(-1, 1);
                    transform: scale(-1, 1);
                }
            }
        }
        p{
            color: #333;
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
        }
        

        .title-inp-cover{
            padding-top: 25px;
            .input-group{
                margin: 0 auto;
                align-items: center;
                height: 57px;
                max-width: 415px;
                width: 100%;
                background-color: #F4F5F7;
                border-radius: 20px;
                padding-left: 20px;
                padding-right: 8px;
                .form-control{
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    font-family: "Open Sans", sans-serif;
                    color: #333333;
                    font-weight: 600;
                    font-size: 14px;
                    outline: none;
                    box-shadow: none;
                }
                .input-group-text{
                    background-color: transparent;
                    border: none;
                }
                .go-btn{
                    width: 66px;
                    height: 44px;
                    border-radius: 19px;
                    color: #fff;
                    padding: 5px;
                    box-shadow: none !important;
                    transform: none !important;
                }
            }
        }
    }
}
.blog-card-sec{
    padding: 30px 0 30px;
    .blog-card-container{
        max-width: 2000px;
    }
    .blog-card-wrapper{
        padding-bottom: 50px;
        .img-col{
            flex: 0 0 auto;
            width: 50%;
            max-width: 770px;
        }
        .text-col{
            flex: 1 1 auto;
            .text-block{
                padding: 40px 15px 15px 95px;
                font-family: "Open Sans", sans-serif;
                max-width: 770px;
                .title-label-block{
                    margin-bottom: 20px;
                    .title-label{
                        display: inline-block;
                        color: #1EAAF3;
                        font-size: 13px;
                        font-weight: 600;
                        background-color: #C8ECFF;
                        border-radius: 15px;
                        padding: 10px 20px;
                    }
                }
                h2{
                    margin-bottom: 25px;
                    color: #333;
                    font: bold 30px/33px 'harabararegular';
                }
                p{
                    line-height: 23px;
                    color: #333;
                    font-size: 13px;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                .details-wrapper{
                    justify-content: space-between;
                    margin-top: 30px;
                    .author-block{
                        max-width: 60%;
                        display: flex;
                        .photo{
                            img{
                                width: 50px;
                                border-radius: 15px;
                            }
                        }
                        .details{
                            padding-left: 15px;
                            padding-top: 5px;
                            h5{
                                letter-spacing: normal;
                                margin-bottom: 0;
                                color: #333;
                                font-size: 14px;
                                font-weight: bold;
                                font-family: "Open Sans", sans-serif;
                            }
                            p{
                                font-family: "Open Sans", sans-serif;
                                color: #333;
                                font-size: 13px;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .details-btn-block{
                        .readmore-btn{
                            padding: 15px 20px;
                        }
                    }
                }
            }
        }
        &:nth-child(even){
            .img-col{
                order: 2;
            }
            .text-col{
                order: 1;
                display: flex;
                justify-content: flex-end;
                .text-block {
                    padding: 40px 95px 15px 15px;
                }
            }
        }
    }
}

@media(max-width: 1679px){
    .blog-card-sec .blog-card-wrapper .text-col .text-block{
        max-width: 85%;
        padding: 40px 15px 15px 70px;
    }
    .blog-card-sec .blog-card-wrapper:nth-child(even) .text-col .text-block {
        padding: 40px 70px 15px 15px;
    }
}
@media(max-width: 1450px){
    .blog-title-container .blog-title-block h1{
        font-size: 52px;
        line-height: 62px;
    }
    .blog-title-container::before, .blog-title-container::after{
        background-size: 240px;
    }
    .blog-title-sec {
        padding: 100px 0;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block h2{
        font: bold 26px/29px 'harabararegular';
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block{
        max-width: 90%;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block{
        padding: 30px 15px 15px 50px;
    }
    .blog-card-sec .blog-card-wrapper:nth-child(even) .text-col .text-block {
        padding: 30px 50px 15px 15px;
    }
}
@media(max-width: 1199px){
    .blog-title-container .blog-title-block h1 {
        font-size: 46px;
        line-height: 56px;
    }
    .blog-title-sec {
        padding: 80px 0;
    }
    .blog-title-container::before, .blog-title-container::after{
        background-size: 200px;
    }
    .blog-card-sec .blog-card-wrapper .img-col{
        width: 45%;
    }
    .blog-card-sec .blog-card-wrapper .img-col img{
        object-fit: cover;
        height: 100%;
    }
}

@media(max-width: 991px){
    .blog-card-sec .blog-card-wrapper{
        flex-wrap: wrap;
    }
    .blog-card-sec .blog-card-wrapper .img-col{
        width: 100%;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block{
        width: 100%;
    }
    .blog-title-container::before, .blog-title-container::after{
        display: none;
        content: none;
    }
    .blog-title-container .blog-title-block{
        max-width: 600px;
    }
    .blog-card-sec .blog-card-wrapper .img-col{
        text-align: center;
        max-width: 100%;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block{
        max-width: 100%;
    }
    .blog-card-sec .blog-card-wrapper:nth-child(even) .img-col {
        order: 1;
    }
    .blog-card-sec .blog-card-wrapper:nth-child(even) .text-col .text-block{
        order: 2;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block, .blog-card-sec .blog-card-wrapper:nth-child(even) .text-col .text-block{
        padding: 30px 0;
    }
    .blog-card-sec .blog-card-container {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .blog-card-sec .blog-card-wrapper .img-col img {
        object-fit: none;
        height: auto;
    }
}
@media(max-width: 767px){
    .blog-card-sec .blog-card-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .blog-title-container .blog-title-block h1 {
        font-size: 38px;
        line-height: 48px;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block h2 {
        font: bold 22px/25px 'harabararegular';
    }
    .blog-title-sec {
        padding: 50px 0;
    }
}
@media(max-width: 579px){
    .blog-card-sec .blog-card-wrapper .text-col .text-block .details-wrapper{
        flex-wrap: wrap;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block .details-wrapper .details-btn-block .readmore-btn{
        margin: 8px 0;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block, .blog-card-sec .blog-card-wrapper:nth-child(even) .text-col .text-block {
        padding: 20px 0 10px;
    }
    .blog-card-sec .blog-card-wrapper {
        padding-bottom: 30px;
    }
}
@media(max-width: 479px){
    .blog-card-sec .blog-card-wrapper .text-col .text-block .details-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block .details-wrapper .author-block {
        max-width: 100%;
    }
    .blog-card-sec .blog-card-wrapper .text-col .text-block .details-wrapper .details-btn-block{
        padding-top: 10px;
    }
}


// Blog details


.blog-details-sec{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    .blog-det-title{
        h1{
            color: #333333;
            font-size: 61px;
            line-height: 58px;
            font-family: 'harabararegular';
            font-weight: bold;
            margin-bottom: 20px;
        }
        .lg-img{
            padding-top: 40px;
        }
    }
    .author-block{
        display: flex;
        .photo{
            img{
                width: 50px;
                border-radius: 15px;
            }
        }
        .details{
            padding-left: 15px;
            padding-top: 5px;
            h5{
                letter-spacing: normal;
                margin-bottom: 0;
                color: #333;
                font-size: 14px;
                font-weight: bold;
                font-family: "Open Sans", sans-serif;
            }
            p{
                font-family: "Open Sans", sans-serif;
                color: #333;
                font-size: 13px;
                margin-bottom: 0;
            }
        }
    }
    .blog-details-bottom-block{
        position: relative;
        padding-top: 50px;
        .soc-link-block{
            position: absolute;
            left: -50px;
            display: inline-flex;
            flex-direction: column;
            top: 60px;
            a{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #000;
                color: #fff;
                border-radius: 50%;
                width: 27px;
                height: 27px;
                font-size: 15px !important;
                margin-bottom: 10px;
                transition: .3s;
                &:hover{
                    opacity: .7;
                }
            }
        }
        .details-left-block{
            h2, h3, h4, h5, h6{
                margin-bottom: 30px;
                max-width: 500px;
                color: #333;
                font-family: 'harabararegular';
            }
            h2{
                margin-bottom: 30px;
                max-width: 500px;
                font-size: 30px;
                font: bold 30px/30px 'harabararegular';
            }
            p{
                margin-bottom: 30px;
            }
            .img-block{
                margin-bottom: 40px;
            }
        }
    }
}
.recent-block-sec{
    padding: 30px 0 70px;
    .recent-block-container{
        .recent-title{
            font: bold 61px 'harabararegular';
            margin-bottom: 50px;
        }
        .recent-block-carousel{
            .recent-card{
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                font-family: "Open Sans", sans-serif;
                .recent-card-top{
                    flex: 1 1 auto;
                }
                .recent-card-bottom{
                    flex: 0 0 auto;
                }
                .text-block{
                    padding: 30px 0;
                    max-width: 770px;
                    .title-label-block{
                        margin-bottom: 20px;
                        .title-label{
                            display: inline-block;
                            color: #1EAAF3;
                            font-size: 13px;
                            font-weight: 600;
                            background-color: #C8ECFF;
                            border-radius: 15px;
                            padding: 10px 20px;
                        }
                    }
                    h2{
                        margin-bottom: 25px;
                        color: #333;
                        font: bold 30px/33px 'harabararegular';
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }
                    p{
                        line-height: 23px;
                        color: #333;
                        font-size: 13px;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }
                }
                .details-wrapper{
                    justify-content: space-between;
                    margin-top: 10px;
                    align-items: center;
                    .author-block{
                        max-width: 70%;
                        display: flex;
                        .photo{
                            img{
                                width: 50px;
                                border-radius: 15px;
                            }
                        }
                        .details{
                            padding-left: 15px;
                            padding-top: 5px;
                            h5{
                                letter-spacing: normal;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-bottom: 0;
                                color: #333;
                                font-size: 14px;
                                font-weight: bold;
                                font-family: "Open Sans", sans-serif;
                                max-width: 150px;
                            }
                            p{
                                font-family: "Open Sans", sans-serif;
                                color: #333;
                                font-size: 13px;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .details-btn-block{
                        .readmore-btn{
                            padding: 10px 10px;
                            font-size: 11px !important;
                        }
                    }
                }


                // **
            }
        }
        .my-owl-nav{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            .arrow-custom-btn{
                display: inline-flex;
                align-items: center;
                color: #333;
                font-size: 14px;
                font-family: Poppins, sans-serif;
                font-weight: bold;
                cursor: pointer;
                transition: .3s;
                img{
                    transition: .3s;
                    filter: brightness(0);
                }
                &:hover{
                    color: #267FF6;
                    img{
                        filter: none;
                    }
                }
                &.my-next-button{
                    img{
                        margin-right: 10px;
                    }
                }
                &.my-prev-button{
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
@media(max-width: 1450px){
    .blog-details-sec .blog-det-title h1{
        font-size: 52px;
        line-height: 62px;
    }
    .blog-details-sec {
        padding-top: 50px;
    }
    .recent-block-sec .recent-block-container .recent-title{
        font-size: 52px;
        margin-bottom: 30px;
    }
    .recent-block-sec .recent-block-container .recent-block-carousel .recent-card .recent-img img{
        height: 280px;
        object-fit: cover;
    }
    .recent-block-sec .recent-block-container .recent-block-carousel .recent-card .text-block h2{
        font: bold 26px/29px 'harabararegular';
    }
    .blog-details-sec .blog-details-bottom-block .details-left-block h2{
        font: bold 26px/29px 'harabararegular';
    }
}
@media(max-width: 1250px){

}
@media(max-width: 1199px){
    .blog-details-sec .blog-det-title h1, .recent-block-sec .recent-block-container .recent-title{
        font-size: 46px;
        line-height: 56px;
    }
}
@media(max-width: 991px){
    .blog-details-sec .blog-det-title h1, .recent-block-sec .recent-block-container .recent-title {
        font-size: 38px;
        line-height: 48px;
    }
    .blog-details-sec .blog-details-bottom-block .details-left-block h2 {
        font: bold 22px/25px 'harabararegular';
    }
    .recent-block-sec .recent-block-container .recent-block-carousel .recent-card .text-block h2 {
        font: bold 20px/24px 'harabararegular';
        margin-bottom: 15px;
    }
}
@media(max-width: 767px){
    .blog-details-sec .blog-det-title h1 br{
        display: none;
    }
    .blog-details-sec .blog-det-title h1, .recent-block-sec .recent-block-container .recent-title {
        font-size: 28px;
        line-height: 33px;
    }
    .blog-details-sec .blog-det-title .lg-img {
        padding-top: 25px;
    }
    .blog-details-sec .blog-details-bottom-block{
        padding-top: 30px;
    }
    .blog-details-sec .blog-details-bottom-block .details-left-block h2{
        margin-bottom: 15px;
    }
    .blog-details-sec .blog-details-bottom-block .details-left-block p {
        margin-bottom: 20px;
    }
    .blog-details-sec .blog-details-bottom-block .details-left-block .img-block {
        margin-bottom: 20px;
    }
    .blog-details-sec .blog-details-bottom-block .details-left-block h2{
        font-size: 20px;
    }
    .recent-block-sec {
        padding: 20px 0 40px;
    }
}
@media(max-width: 579px){
    .recent-block-sec .recent-block-container .my-owl-nav{
        display: none;
    }
    .blog-details-sec .blog-details-bottom-block .soc-link-block{
        position: static;
        flex-direction: row;
        a{
            margin-right: 10px;
        }
    }
    .blog-details-sec .blog-details-bottom-block {
        padding-top: 20px;
    }
    .blog-details-sec {
        padding-left: 0;
        padding-right: 0;
        padding-top: 4
        0px;
    }
}
@media(max-width: 400px){
    .recent-block-sec .recent-block-container .recent-block-carousel .recent-card .details-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        .details-btn-block{
            padding-top: 15px;
        }
    }
}